# requirements for create embedding and cache
lmdb
loguru
h5py
httpx
mmengine
mmcv-lite
opencv-python-headless
openpyxl
openslide-bin
openslide-python
timm
huggingface_hub
# Optional for CONCH encoder:
# pip install git+https://github.com/mahmoodlab/CONCH.git